
= render partial: 'templates/header', locals: {categories:@categories}
.categories_show
  .detail
    %h2= "#{@category.name}の商品一覧"
    .children
      - @category.children.each do |child|
        = link_to child.name, category_all_items_path(category_id:child.id)
  .contents
    - @category.items.each do |item|
      .item
        = link_to "#" do
          .image
            = image_tag item.images.first.image.url
          .sentence
            %p= item.name
            %p= "#{item.price} 円"
    - if @category.children.present?
      - @category.children.each do |child|
        - child.items.each do |childitem|
          .item
            = link_to "#" do
              .image
                = image_tag childitem.images.first.image.url
              .sentence
                %p= childitem.name
                %p= "#{childitem.price} 円"
        - if child.children.present?
          - child.children.each do |grandchild|
            - grandchild.items.each do |granditem|
              .item
                = link_to "#" do
                  .image
                    = image_tag granditem.images.first.image.url
                  .sentence
                    %p= granditem.name
                    %p= "#{granditem.price} 円"
= render partial: 'templates/footer'