
.purchased_items
  %ul.lists
    .lists__header
      %h2.purchased_header 購入した商品
      .item_purchased
        %p.purchased_transaction 取引中 
        %p.purchased_end.selected 過去の取引
    - if purchased.present?
      - purchased.each do |item|
        = link_to new_item_evaluates_path(item.id), class: "item_link" do
          %li.item_box
            .item_image= image_tag(item.images.first.image.url)
            .item_name= item.name
            .item_info
              .item_liked
                %i.far.fa-heart
                %p.liked_count= item.likes.count
              .item_comment
                %i.far.fa-comment-alt
                %p.comment_count= item.comments.count
              .item_situation
              
      = paginate purchased, remote: true
    - else
      .item_link
        .item_empty
          .empty_img=image_tag "logo/no-text.png"
          %p.empty_text 出品中の商品はありません。