
= render "templates/form_header"
.main__container
  .main__container__head
    .no_account-wrap
      %p アカウントをお持ちでない方はこちら
      %a{ href: new_user_registration_path } 新規会員登録
  .main__container__form
    .content-wrap
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .field
          = f.email_field :email, autofocus: true, autocomplete: "email", class: 'input-default', placeholder: 'メールアドレス'
          = f.password_field :password, autocomplete: "current-password", class: 'input-default', placeholder: 'パスワード'
        .actions
          = f.submit "ログイン", class:'btn'
      = render "devise/shared/links"
= render "templates/form_footer"