
= render partial: 'templates/header'
.categories_show
  .detail
    %h2= "#{@category.name}の商品一覧"
    .children
      - @category.children.each do |child|
        = link_to child.name, category_path(child.id)
  .contents
    - @category.items.each do |item|
      .item
        = link_to item_path(item.id) do
          .image
            = image_tag item.images.first.image.url
          .sentence
            %p= item.name
            %p= "#{item.price} 円"
= render partial: 'templates/footer'